@model SSO.Infrastructure.Business.Model.LoginModel
@{
    Layout = "/Views/Shared/_LogonLayout.cshtml";
}

<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">
        Confirmação de Email
    </h1>
    <br />
    <div class="small">@Html.Raw(ViewBag.Retorno)</div>
</div>